# Perform audits alongside installs.
audit = true

# Minimum audit-level for vulnerability reports.
audit-level = true

# Use colors in the CLI for tty descriptors.
color = true

# Create commits with the new tags when versioning.
git-tag-version = true

# Run commit hooks when versioning.
commit-hooks = true

# Show all non-silent errors.
loglevel = "error"

# Default commit message used when versioning.
message = "Production Release: %s"

# Install all "optional" dependencies.
optional = true

# Generate/update the lock-file when installing.
package-lock = true

# Show the progress bar during installs for tty's.
progress = true

# Save dependencies with the exact version by default.
save-exact = true

# Prefix git tags with `vN.N.N` when versioning.
tag-version-prefix = "v"
